.game
{
    width: 255px;
    font-family: sans-serif;
    color: orange;
    margin: auto;
    text-align: center;
    font-weight: 600;
}

.boxmain
{
    background-color: red;
    height: 20px;
    padding: 5px 0;
    margin: 5px 0;

}

.box
{
    background-color: tomato;
    height: 80px;
    width: 80px;
    float: left;
    margin: 2px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.box:hover{
    cursor: pointer;
    transform: scale(1.3);
    background-color: gray;
}